/* Font Import 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Ubuntu'); */


@import url("responsive.css");
/* Header Styleing */

.countrySelector {
    z-index: 99999;
    position: relative;
    margin:auto;
    left: 0;
    right: 0;
}

.countrySelector ul {   
    margin-right: -10px;
}

.countrySelector  li a {    
    text-transform: none !important;    
    font-size: 12px;
}



.countrySelector img {
    margin-right:5px;
}

.nav-utility {
    overflow: visible !important;
}

nav {
    max-width: 1366px !important;
  margin: 0 auto !important;
  left:  0 !important;
  right: 0 !important;
}

.border-right {
    border-left:1px solid #073924;
    padding-left:20px;
}



.social-menu a {
       display: inline;
}

.social-menu a:hover:after {
     background: #063f24;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -45px;
    color: #fff;
    line-height: 1em;
    content: attr(title);
    left: 0;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    font-size: 9px;
    width: 220px;
}

.scrolled .nav-bar {
    line-height: 80px;
}

.vehicle-booking-container {
    margin-top: -129px;
    padding-top: 110px;
}

.vehicle-booking {
    background: #1e1e1e;
    padding: 20px;
}

.home .vehicle-booking:before{
    content:'';
    display: block;
    width:511px;
    height: 189px;
    position: absolute;
    z-index: 9999;
    right: 0;
    top: -90px;
    background: url(../images/booking_top.png) center no-repeat;
    background-size: contain;
}
.vehicle-booking small{
    margin-top:-40px !important;
    color: #fff;    
    line-height: 1em;
}

@media all and (max-width: 767px) {
    .vehicle-booking:before 
        {
            content:'';             
        display: block;
        width:311px;
        height: 189px;
        position: absolute;
        z-index: 9999;
        right: 10%;
        top: -120px;
        background: url(../images/booking_top.png) center no-repeat;
        background-size: contain;
        }   

    .vehicle-booking-container {
        margin-top: -189px;
        padding-top: 90px;
        }

    .border-right {
        border-left:none;
        float:left !important;
        width:50% !important;
        padding-left:0;
    }

    .vehicle_slider {
        max-height: 710px !important;
    }

    .vehicle_slider table {
        display: none;
    }

    .home .vehicle-booking:before{
    content:'';
    display: block;
    width:511px;
    height: 109px;
    position: absolute;
    z-index: 9999;
    left: 0px;
    top: -90px;
    background: url(../images/booking_top.png) center no-repeat;
    background-size: contain;
}


    .vehicle_slider .btn {
        display: none;
    }

    .services {
        text-align: center !important;
    }
    .services img {
        width: 50%;
    }

    .imp_icon img {
    width: 50% !important;
    text-align: center;
    }

    .text-center-large {
    font-size: 155px !important;
}


.time-control select {
    width: 100% !important;
}

.time-control {
    margin-top: 20px;
}



}

.location-control:before {
    display: inline-block;
    content: '\e693';
    width: 50px;
    float: left;
    height: 50px;
    background: white;
    font-family: "themify";
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #d2d2d2;
    font-weight: bold;
}

.date-control:before {
   display: inline-block;
    content: '\e6b6';
    width: 15%;
    float: left;
    height: 50px;
    background: white;
    font-family: "themify";
    font-size: 32px;
    line-height: 50px;
    color: #d2d2d2;
    text-align: center;
    font-weight: bold
}


.m0 {
    margin:0 !important;
}

.auto-width {
    width: 58% !important;
}

span.control-title {
    display: inline-block;
    background: #fefefe;
    color: #1e1e1e;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
    line-height: 3em;
    float: left;
    height: 50px;
    width: 25%;
    border-right: 2px solid #cecece;
}


.heading2 {
  font-size: 36px;
  font-family: "Open Sans";
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight:  800;
  text-align: center;
}


.text-white {
    color:#fff;
}
.services {
    background: #063f24;
    padding: 40px;
    height: auto;
    color: #fff;
}

.services_container {
    background: url(../images/keys.png) 5% 60%;
    background-repeat: no-repeat;
}


.strong {
    font-weight: 800 !important;
}

.imp_icon {
    margin-right:20px;
}

.imp_icon img {
    width: 90%;
}

.right p {
    font-size: 21px;
    line-height: 1.4em;
}


.vehicle_slider {
    background: #d8d8d8;
    height: auto;
    padding: 0;
    max-height: 350px;
}

.fleet_details {
    background:url(../images/fleet_bg.png) center center no-repeat;
    background-size: contain;
    padding: 30px;
}

.text-center-large {
    font-size: 195px;
    line-height: .4em;
    font-weight: 800;
    color: white;
    text-align: center;
}

.borders {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding: 5px 0px 5px 0px;
    font-size: 21px;
}


.group_features {
    font-size: 22px;
}

.group_features tr {
    border-bottom: 1px solid #1e1e1e;
    width: 100%;
    height: 35px;
}

.group_features td:nth-child(2){
    padding-left:30px;
}

.noborder {
    border:none;
}

.fullwidth {
    width:100%;
}

.drop {
    margin-top: 0px !important;
}

.drop:before {
    background: none !important;
}


/* Multistep Form Breadcrumbs */
ol.cd-multi-steps {
    height: auto;
    max-height: 30px;
    margin-top: 60px;
    list-style: none;
    text-align:center;
    margin-bottom:100px;
}

ol.cd-multi-steps li {
    display:inline-block;
    margin-left:120px;
}

ol.cd-multi-steps li:first-child {
    display:inline-block;
    margin-left:0px;
}

ol.cd-multi-steps li:first-child:before {
    content:'1';
    width:100%;
    display:block;
    background:#424242;
    border-radius:50px;
    width:50px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    line-height:2.5em;
    text-align:center;
    margin:0 auto;

}


ol.cd-multi-steps li:nth-child(2):before {
    content:'2';
    width:100%;
    display:block;
    background:#424242;
    border-radius:50px;
    width:50px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    line-height:2.5em;
    text-align:center;
    margin:0 auto;
}


ol.cd-multi-steps li:last-child:before {
    content:'3';
    width:100%;
    display:block;
    background:#424242;
    border-radius:50px;
    width:50px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    line-height:2.5em;
    text-align:center;
    margin:0 auto;
}

.cd-multi-steps li.current:before {
    background:#063F24 !important;  
}


.cd-multi-steps li.visited:before {
    background:#18b36a !important;  
}

.cd-multi-steps li:after {
    content:'';
    width:100%;
    border-bottom:1px solid #fff;
}

.vehicle-booking-container  div {
    color: #fff !important;
}




/* Fleet Page */
.listbtn {
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    color: #1e1e1e;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -50px;
}

.panel-title a {
    color: #1e1e1e;
}

.panel-title small {
    margin-bottom: -40px !important;
    display: block;
}

.panel-title p {
    line-height:1.3em;
    font-size:16px;
    margin-top:10px;
}

.panel-title .btn {
    border:none;
}

.floatLeft {
    float:left;
}

img.thumb {
    height: 100px;
}

ul.vehicle_stats li:first-child {
    display: inline;
    margin-left: 0px;
}

ul.vehicle_stats li {
    display: inline;
    margin-left: 50px;
    font-weight: 400;
}

ul.vehicle_stats .transmission_icon {
  padding-left: 22px;
  background: url(../images/icons/gears-icon.png) no-repeat left;
  padding-top: 5px;
}

ul.vehicle_stats .petrol_icon {
  padding-left: 22px;
  background: url(../images/icons/gasoline-icon.png) no-repeat left;
  padding-top: 5px;
}
ul.vehicle_stats .aircon_icon {
  padding-left: 22px;
  background: url(../images/icons/aircon-icon.png) no-repeat left;
  padding-top: 5px;
}
ul.vehicle_stats .radio_icon {
  padding-left: 22px;
  background: url(../images/icons/radio-icon.png) no-repeat left;
  padding-top: 5px;
}

.input-group {
    margin-bottom: 20px;
}

#imp_Vehicles {
    margin-bottom: 20px;
}

#imp_pickup_Time {
    margin-bottom: 20px;
}

.input-group-addon {
    background: #fff;
    color: #949494 !important;
    font-size: 15px !important;
}

blockqoute {
    font-size: 32px;
    line-height: 1.3em;
    font-style: italic;
}

.bg-grey {
    background: #fefefe;
}

.awards h4 {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: bold;
}

.awards p {
    line-height: 1.2em;
}

.accordion .content p {
    font-size: 20px;
    line-height: 1.4em;
    font-style: italic;
}
.accordion .content {
    padding-left:35px;
}


.accordion .title {
    font-size:28px;
    font-weight: 800;
}